In [1]:
print("Hello World!")

Hello World!

In [2]:
print("This is first program with python")

This is first program with python

In [3]:
# this is comment
print("Hi Python")     # this is a comment

Hi Python

In [4]:
x = 4  # x is of type int 
y = 5  # y is of type int
z = "Jhon" # z is of type str  (string)

In [5]:
print(x)
print(z)

4
Jhon

In [6]:
n = 3.2     # n is of type float

In [7]:
print(type(n))

<class 'float'>

In [8]:
m = float(4)

In [9]:
print(m)

4.0

In [11]:
x1 = "john"
x2 = 'john'

In [12]:
print(x1)
print(x2)

john
john

In [13]:
myvar = 'john'
MyVar = 'john'   #
my_var = 'john'  #

In [14]:
x , y, z = "blue", "green", "yellow"

In [15]:
print(x)
print(y)

blue
green

In [17]:
x = y = z = "blue"
print(y)
print(z)

blue
blue

## Python Data Type

In [19]:
x = "Hello Python"   # data type = str
y = 20               # data type = int
z = 3.5              # data type = float
r = 2j               # data type = complex

In [20]:
x1 = ["apple", "banana", "cherry"]   # list

In [21]:
x2 = ("apple", "banana", "cherry")   # tuple

In [27]:
x3 = range(6)                         # range

In [29]:
x4 = {"name" : "Amir", "age" : 25 }   # dictionary

In [30]:
x5 = {"apple", "banana", "cherry" }   # set

In [31]:
print(x1)
print(x2)
print(x3)
print(x4)

john
john
range(0, 6)
{'name': 'Amir', 'age': 25}

In [32]:
print(x3)

range(0, 6)

In [33]:
x6 = True          # bool
x7 = False         # bool

# Python Nambers

In [34]:
x = 2           # int
y = 4.5         # float
z = 3j          # complex

In [35]:
d = 2.8

In [36]:
print(type(d))

<class 'float'>

In [38]:
c = 4j

In [39]:
print(type(c))

<class 'complex'>

In [40]:
y = float(4.5)

# String
# Assign string to a variable

In [41]:
my_var1 = "Hello"
my_var2 = "Amir"

In [42]:
print(my_var2)

Amir

In [43]:
print(my_var1)
print(my_var2)

Hello
Amir

In [52]:
my_var3 = """ This is multiline string,
and we want to assign multiline string. """

In [53]:
print(my_var3)

 This is multiline string,
and we want to assign multiline string.

# Boolean value
True or False

In [54]:
print(10 > 5)

True

In [55]:
print(3 == 5)

False

In [56]:
x = 150
y = 35

if x > y:
    print("x is greater than y")
else:
    print("y is greater than x")

x is greater than y

In [57]:
print(bool("Hi"))
print(bool(12))

True
True

# Opetators

In [58]:
print(10 + 10)

20

In [59]:
print(6 - 4)

2

In [60]:
print(6 * 5)

30

In [62]:
print(6 ** 2)

36

In [64]:
print(20 / 4)

5.0

In [65]:
print(20 % 4)

0

In [66]:
x = 4
y = 3.5
print(x * y)

14.0

In [67]:
print(x + y * x)

18.0

In [68]:
x = 5

In [72]:
x = 5
x += 3
print(x)

8

In [73]:
x = 5
x -= 3
print(x)

2

In [74]:
x = 5
x **= 3
print(x)

125

In [75]:
x = 5
x &= 3
print(x)

1

# comparison operators

In [76]:
x = 5
y = 3
print(x == y)  # is equal

False

In [77]:
print(x != y) # is not equal

True

In [78]:
print(x < y)

False

In [79]:
print(x > y)

True

# Logical operator

In [80]:
# and
x = 5
print(x > 3 and x < 10)

True

In [81]:
# or 
x = 5
print(x > 3 or x < 4)

True

In [82]:
# not
x = 5
print(not(x > 3 and x < 10))

False

In [83]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [84]:
print(x is z)

True

In [85]:
print(x is y)

False

In [86]:
print(x == y)

True

# List

In [87]:
f = ["apple", "banana", "cherry"]

In [89]:
# list is used to store multiple items in a single variable
print(f)

['apple', 'banana', 'cherry']

In [90]:
print(len(f))

3

In [92]:
L1 = ["apple", "banana", "cherry"]
L2 = [1 , 2, 3, 4]
L3 = [True, False, True]

In [93]:
print(L1)
print(L2)
print(L3)

['apple', 'banana', 'cherry']
[1, 2, 3, 4]
[True, False, True]

In [99]:
L4 = ["apple", 4, True, False, 8]
print(L4)

['apple', 4, True, False, 8]

In [96]:
print(type(L4))

<class 'list'>

In [100]:
print(L4)

['apple', 4, True, False, 8]

In [101]:
print(L4[3])

False

In [102]:
print(L4[0])

apple

In [103]:
print(L4[-1])

8

In [104]:
L5 = ["blue", "green", "yellow"]
L5[1] = "black"
print(L5)

['blue', 'black', 'yellow']

In [105]:
L5.append("red")
print(L5)

['blue', 'black', 'yellow', 'red']

In [106]:
L5.remove("yellow")
print(L5)

['blue', 'black', 'red']